* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}

html,
body {
  min-height: 100vh;
}
@media only screen and (min-width: 0) {
  body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // min-height: 100%;

    // height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  body {
    max-width: 1440px;
    max-height: 2443px;
    padding: 64px 96px 90px 96px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
